@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-sky-50/30 antialiased;
  }
}

.recharts-cartesian-grid-horizontal line {
  stroke: #F1F5F9;
}

.recharts-tooltip-wrapper {
  outline: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
